.tab-bar .tab.active[data-type$="TimecopView"] {
  color: var(--tab-text-color-editor);
  background-color: var(--tab-background-color-editor);
}

.timecop {
  .timecop-panel {
    padding: calc(var(--component-padding) / 2);
    background-color: var(--level-2-color);
  }

  .tool-panel {
    padding: calc(var(--component-padding) / 2);
    background-color: var(--level-2-color);
  }

  .inset-panel {
    border: 1px solid var(--base-border-color);
  }

  .panel-heading {
    font-weight: normal;
    color: var(--text-color-highlight);
    border-color: var(--base-border-color);
    background-color: var(--level-1-color);
  }

  overflow: auto;

  .panels {
    display: flex;
    flex-direction: row;
  }

  .package-panel {
    display: flex;
    flex-direction: row;
    flex: 1;

    .list-group {
      overflow: hidden;
    }

    .inset-panel {
      width: 100%;
    }
  }

  .text-info {
    margin-bottom: var(--component-padding);
  }

  .timing,
  .list-item {
    display: flex;
    justify-content: space-between;
    .inline-block:last-child {
      margin-right: 0;
    }
  }

  .timing {
    margin-bottom: var(--component-padding);
  }

  .list-item {
    margin-top: calc(var(--component-padding) / 2);
    margin-bottom: calc(var(--component-padding) / 2);

    .inline-block {
      line-height: 1.5;
    }
  }

  .package {
    color: var(--text-color);
    &:hover {
      text-decoration: none;
      color: var(--text-color-selected);
    }
  }
  .timecop-line {
    flex: 1 1 0;
    margin-right: var(--component-padding);
    margin-top: 0.8em;
    border-top: 1px dashed rgb(from var(--text-color) r g b / 20%);
  }

  .package:hover + .timecop-line {
    border-color: rgb(from var(--text-color) r g b / 60%);
  }
}
